/*** General ***/

.screenSharingRoot {
	width: 100%;
}
.screenSharingRoot > p {
	text-align: center;
}
.screenSharingRoot #video {
	/*border: 1px dashed #999999;*/
	background-color: #000000;
	max-width: 320px;
	width: 320px;
}
.screenSharingRoot button {
}
.screenSharingRoot button[disabled] {
	color: #aaaaaa;
	border: 1px solid #aaaaaa;
}

/*** Experiment ***/

.experiment {
}
.experiment #videos-container {
	text-align: center;
}
.experiment video {
	display: inline-block;
	max-width: 320px;
}